[submodule "win11_oneocr_py"]
	path = win11_oneocr_py
	url = git@github.com:Cecilia-pj/win11_oneocr_py.git
[submodule "oneocr"]
	path = oneocr
	url = git@github.com:AuroraWright/oneocr.git
[submodule "oneocr-rs"]
	path = oneocr-rs
	url = git@github.com:wangfu91/oneocr-rs.git
[submodule "oneocr-cli"]
	path = oneocr-cli
	url = git@github.com:deltqz/oneocr-cli.git
